<!-- #include virtual="/usc/_include/uscGlobals.asp" -->
<%
var szURL = "/usc/_bt_appredir.asp";

var pPlatApplyNow = new Parameters( szURL, null );
	pPlatApplyNow.AddQS();
	pPlatApplyNow.Add("app=UNSOL&sc=4XNWW8M4&m=8000111111W&B=A&ID=3001&uc=D76&t=t");
	pPlatApplyNow.Add( "TID", "133075" );

var szTenTwelve = GetAffiliate();
if( szTenTwelve != null && szTenTwelve != " " && szTenTwelve != undefined )
{
	var szM10_12 = InsertAffiliate("8000111111W", szTenTwelve);
	pPlatApplyNow.Add("m", szM10_12);
}

pPlatApplyNow.Remove( "ef_id" );

%>
<div id="bdy_top_elements" class="bdy_elements">
		<div class="bdy_img">
			<img src="img/img_platinum_desk_bdy.jpg" width="421" height="392" class="bdy_desk_img">
			<img src="img/img_platinum_tablet_bdy.jpg" class="bdy_tab_img">
			<img src="img/img_platinum_mobile_bdy.jpg" class="bdy_mob_img">
			<!--<div class="bdy_responsive_img"></div>-->
		</div>
		<div class="element_text">
		<h3>CITI<sup>&reg;</sup> PLATINUM SELECT<sup>&reg;</sup> / AADVANTAGE<sup>&reg;</sup> WORLD MASTERCARD<sup>&reg;*</sup></h3>
			<h1>The card that puts you miles ahead</h1>
			<p><span>Earn 30,000</span> <nobr>American Airlines AAdvantage<sup>&reg;</sup></nobr> bonus miles and <span class="bold">2 <nobr><nobr>Admirals&nbsp;Club<sup>&reg;</sup></nobr></nobr> One-Day Passes<sup>++</sup></span> after making $1,000 in purchases within the first 3 months of cardmembership.<sup>1</sup></p>
			<ul>
				<li><img src="img/icn_bdy_platinum_first_checked.png" width="49" height="43" class="bdy_icn_img"> <span>First Checked Bag Free<sup>&dagger;</sup></span> </li>
				<li class="divisor"><img src="img/icn_bdy_platinum_group1.png" width="49" height="43" class="bdy_icn_img"> <span>Group 1 Boarding<sup>2</sup></span> </li>
				<li><img src="img/icn_bdy_platinum_double_miles.png" width="49" height="43" class="bdy_icn_img"> <span>Double Miles Opportunity<sup>3</sup></span> </li>
			</ul>
			<div class="bdy_wrap_first">
				<p>$0 Annual fee for the first 12 months, then $95<sup>4</sup></p>
				<a href="<%= pPlatApplyNow.GetStringURL() %>" class="btn btn-success " role="button" target="_blank" title="Apply Now">Apply Now</a>
				<!--<span class="callback_number">or call 1-800-514-8501</span>-->
			</div>
		</div>
	</div>
	<div id="bdy_bottom_elements" class="bdy_elements">
		<div class="bdy_img">
			<div class="bdy_wrap">
				<img src="img/img_bdy_platinum_card.png" width="273" height="188" class="bdy_card">
				<p id="card_text">CITI<sup>&reg;</sup> PLATINUM SELECT<sup>&reg;</sup> / AADVANTAGE<sup>&reg;</sup><br />WORLD MASTERCARD<sup>&reg;</sup></p>
				<a href="<%= pPlatApplyNow.GetStringURL() %>" class="btn btn-success " role="button" target="_blank" title="Apply Now">Apply Now</a>
				<!--<span class="callback_number desktop_only">or call 1-800-514-8501</span>-->
			</div>
		</div>
		<div id="bullets_text">
			<ul>
				<li>Get the first eligible bag checked free for you and up to 4 travel companions.<sup>&dagger;</sup></li>
				<li>Enjoy Group 1 Boarding and use the extra time to prepare for your flight.<sup>2</sup></li>
				<li>Earn 2 AAdvantage<sup>&reg;</sup> miles for every $1 spent on eligible <nobr>American&nbsp;Airlines</nobr> purchases, including US Airways codeshare flights booked through <nobr>American&nbsp;Airlines</nobr>.<sup>3</sup> Plus, earn 1 AAdvantage<sup>&reg;</sup> mile per $1 spent on other purchases.<sup>5</sup></li>
				<li>Earn a $100 <nobr>American&nbsp;Airlines</nobr> Flight Discount each year of cardmembership after you spend $30,000 or more in purchases and renew your cardmembership.<sup>6</sup></li>
				<li>Earn AAdvantage<sup>&reg;</sup> miles for using AAdvantage<sup>&reg;</sup> miles. Earn 10% of your redeemed AAdvantage<sup>&reg;</sup> miles back — up to 10,000 AAdvantage<sup>&reg;</sup> miles each calendar year.<sup>7</sup></li>
				<li>Receive a 25% savings on in-flight food and beverage purchases when you use your <nobr>Citi<sup>&reg;</sup> / AAdvantage<sup>&reg;</sup></nobr> card on <nobr>American&nbsp;Airlines</nobr> flights.<sup>8</sup></li>
				<li>Expert concierge service 24 hours a day.</li>
				<li>Annual card fee of $95 is waived for the first 12 months.<sup>4</sup></li>
			</ul>
			<div class="anshow bdy_wrap_first">
			<a href="<%= pPlatApplyNow.GetStringURL() %>" title="Apply Now" target="_blank" role="button" class="btn btn-success ">Apply Now</a> 
			<span class="callback_number mobile_only">or call 1-800-514-8501</span></div>
		</div>
	</div>
